    *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }
  .nav{
    background-color: #443737;
    padding: 40px;
    text-align: center;
    width: 100%;
    box-shadow: 0 15px 15px rgba(0, 0, 0, 0.5);
    position: relative;
    z-index: 1;
  }
  .main{
    background-color: orange;
    padding: 150px;
    text-align: center;
    width: 100%;
    position: relative;
    z-index: -1;
  }
  .about{
    background-color: rgb(232, 211, 184);
    padding: 200px;
    margin-left: 500px;
    margin-right: 500px;
    box-shadow: 5px 5px 10px grey;
    
  }

.final{
    background-color: #9b9b9b;
    padding: 20px;
    text-align: center;
    width: 100%;
    color: white;
    font-weight: bold;
    
}

  a{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 50px;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    transition: color 0.6s ease;
  }
  a:hover{
    color: rgb(118, 118, 118);
  }
h1{
    font-size: 50px;
}
p{
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

img{
    text-align: start;
    float: left;
    margin: 0;
    padding: 0;
    height: 400px;
    width: 600px;
    position: relative;
    bottom: 100px;
    right: 180px;

    border-radius: 10px;
    border: 5px solid rgb(221, 187, 143);
    

}
h2{
    text-align: center;
    font-weight: bold;
    font-size: 65px;
   

    position: relative;
    bottom: 100px;
}


h3{
    color: black;
}